<%# ここで設定したことは全てのページで共有されるよ  %>
<%# railsのhtmlはまずここが読まれてから各ページを読み込むよ%>
<%# 他のhtmlでヘッダーとか記載しなくてもいいのはここのおかげだよ%>
<%# 基本はここの設定が優先されるよ%>


<!DOCTYPE html>
<html>
  <head>
    <title>ちくちく言葉</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# のおかげで各ページの表示が変わるよ %>
    <%= yield %>
  </body>
</html>

